body {
    color: black;
    text-align: center;
}

img {
    width: 150px;
}

h1 {
    font-size: 50px;
}

.start {
    font-size: 50px;
    font-weight: 800;
    padding: 20px;
}

.button {
    display: flex;
    justify-content: center;
}

.Part-two-yes {
    font-size: 50px;
    font-weight: 800;
}


.Part-two-no {
    font-size: 50px;
    font-weight: 800;
    padding: 0 20px;
}


.Ending-yes {
    font-size: 50px;
    font-weight: 800;
}

.lastImage {
    width: 350px;
}